.main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;

}
.head{
    font-size: 50px;
}
.numCen{
border: 5px solid gray;
margin-top: 20px;

/* width: 50px; */
padding: 10px 30px 10px 30px;
/* padding-left: 30px; */
/* padding-top: 5px; */
/* height: 30px; */
font-weight: 500;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttons{
flex-direction: row;
margin-top: 10px;
}
.buttons>button{
    margin: 4px;
 padding: 10px;
 background-color: black;
 color: white;
 border-radius: 20px;
}
.main1{
    background-color:#a5d9da;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.butt{
    margin: 3px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
}
.head1{
    font-size: 50px;
}
.numCen1{
    margin-top: 20px;

    border: 5px solid gray;
/* width: 50px; */
padding: 10px 30px 10px 30px;
/* padding-left: 30px; */
/* padding-top: 5px; */
/* height: 30px; */
font-weight: 500;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.buttons1{
flex-direction: row;
margin-top: 10px;
}
.buttons1>button{
    margin: 3px;
 padding: 10px;
 background-color: black;
 color: white;
 border-radius: 20px;
}
